
body{
  margin:0;
  text-align: center;

}


.selfie{
  height:200px;
  border-radius: 100%;
}

h1 {
  margin-top:50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-weight:bolder;
  color:#edf7fa;
  font-size: 562.5%;
}

h2{
  font-family: 'Tinos', serif;
  margin:20px;
  font-size: 2.5rem;
  color:#66BFBF;
}

h3{
  font-family: 'Tinos', serif;
  font-weight:bold;
  font-size: 25px;
  color: #11999E;

}

hr{
  width:10%;
  border-style:dotted none none none;
  border-color: grey;
  border-width: 10px;
  margin: 100px auto;

}

p{
  font-family: Arial;
  font-size: 20px;
  margin:0;
}




.top-div{
  margin:0;
  margin-bottom:20px;
  position:relative;
  background-color:#7fa998;
  padding-top:100px;

}

.menu {
  color:white;
  margin: 0 15px;
  background-color:#7fa998;
  font-family: 'Tinos', serif;
  font-size:20px;
  font-weight: bold;
  text-decoration:none;

}


.menu:hover {
  color: #ffffdd;
  font-size: 23px;
  transition: all 0.4s ease 0s;

}

.text {
  margin: 30px 0 0 0;
}

.anchors {
  text-align:left;
  line-height: 50px;
  position:fixed;
  width:100%;
  height: 50px;
  Color: black;
  z-index:3;
  background-color:#7fa998;
}

.p1{
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color:#EAF6F6;
  padding-bottom:20px;

}
.top-plane{
  display:block;
  position:absolute;
  height:300px;
  right:15%;
  top:50px;

}

.paper-plane{
  position:absolute;
  left:100px;
  bottom:200px;
  height: 400px;
}

.mountain{
  height:300px;
  position:relative;
  right:30px;
}

.middle-div{
  margin:0;

  width: 100%;

}

.contact-me{
  height:500px;
}

.c-div{
  margin: 60px;
}


.skill-row{
  width: 50%;
  height: auto;
  margin: 50px auto 8% auto;
  text-align:left;
  display:block;


}

.proj {
  width:60%;
  height: 300px;
}


.skeels{
  margin:0 0 0 0;
}

.left_img {
  width: 35%;
  border-radius:100%;
  float:left;
  margin:0 30px 0 0;
}

.left_img_alt {
  width: 300px;
  border-radius: 10%;
  float:left;
  margin:0 30px 0 0;
}




.right_img {
  width:35%;
  border-radius:100%;
  float:right;
  margin:0 0 0 30px;
}

.right_img_alt {
  width:25%;


  float:right;
  margin:0 0 0 30px;
}

.learning_game {
  width: 20%;
}




ul {
  text-align: left;
  margin: 3% 0;
}

li {

  font-family:Arial;

  font-size: 20px;

}


/* .project_details{
  display:none;
} */






.trivia_game {
  width: 15%;
}



.web_link{
  margin-left:100px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #7fa998;
  padding: 5px ;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;

}

.web_link:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.project_block {
  display:inline-block;
}

.bottom-div{
  margin:0;
  background-color: #7fa998;
  height:  140px;
  width: 100%;
}

.footer-link{
  margin:40px;
  position:relative;
  top:40px;
  color:#EAF6F6;

}

.links{
  color: #EAF6F6;
  font-size: 12px;
  position:relative;
  top:70px;


}

.btn {
	box-shadow: 0px 1px 0px 0px #f0f7fa;

	background-color:#7fa998;;
	border-radius:20px;
  border-style: solid;
	border:black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
  margin: 35px;
	padding:6px 24px;
	text-decoration:none;

}

.btn:hover {
	background:linear-gradient(to bottom,  #7fa998; 5%, #33bdef 100%);
	background-color:#11999E;
}
.btn:active {
	position:relative;
	top:1px;
}

.contact_div {
  margin: 0 5%;
  display:inline-block;
}

.contact_div img {

  width:70px;
}

.centered {
  text-align:center;
}



@media screen and ( max-width: 1766px) {
  .top-plane {
     width: 30%;
     height:auto;
     top: 20px;
     right: 7%;

  }

  .paper-plane {
    width: 35%;
    height:auto;
    top: 30px;
  }
}



@media screen and (max-width: 1099px) {
  .paper-plane {
    display: none;
  }

  .top-plane {

    position: relative;
    top:-50px;
    left : 30%;
    width: 40%;
    height: auto;
    z-index: 1;
  }

  h1 {
    margin-top: 0;
    z-index: 2;
  }
}

@media (min-width:1546px) {
  .left_img_alt {
    width: 25%;
    
  }


}

@media (min-width: 2000px) {


  .size_change {
    position: relative;
    left:10%;
    top: 50%;
    transform: translate(0,-50%);
  }

  
}

@media (max-width: 1200px) and (max-height: 1500px) and (orientation: portrait) {
  .skill-row {
    width: 90%;
  }

  .proj {
    width: 90%;
    font-size:12px;
    height:400px;
  }

  h3 {
    font-size: 20px;
    font-weight:bold;
  }

  
  .text {
    display: block;
  }

  .contact_div {
    margin:0;
    width: 100%;
  }


  .contact-me {
    height: auto;
  }

  .c-div {
    margin:10px 0 100px 0;
  }


}

@media (max-width: 850px) and (max-height: 1200px) {

  h3 {
    font-size: 23px;
  }
    .top-plane {
      display:none;
    }
    .mountain {
      position: static;
      width:100%;
    }

    .menu {
      font-size:15px;
      margin: 8px;
    }

    .menu:hover {
      font-size:15px;
    }

    .left_img {
      display:none;
    }

    .right_img {
      display:none;
    }

    .skill-row {

      text-align:center;
      margin-bottom: 5px;
      margin-top: 30px;

    }

    .phone_fill {
      border-radius: 40px;

      background-color: #e4f9ff;
      padding: 30px 0 30px 0;
    }

    .left_img_alt {
      width:90%;

      margin:0;

    }

    ul {
      display:none;
    }

    .proj {
      height: auto;
      background-color: #ffffdd;
      border-radius: 40px;
      padding-top:20px;
      display: flex;
      flex-flow:column;
      align-items: center;
    }



    .web_link {
      margin-left:0;
      margin-top: 20px;
    }

     .project_block {
       display:block;

     }

    .a {

      margin: 20px 0 20px 0;
      order:2;
    }

    .b {
      order:1;
    }




}
